# Heavily based on https://github.com/BobWoerner/VZBot-235-OLD/blob/ace576b14c28b7eb0167fc4f52011991fb7d80a2/nozzle_clean.cfg#L77-L127
[gcode_macro CLEAN_NOZZLE]
variable_start_x: 232.00   # X center of brush
variable_start_y: 20.200   # Y center of brush
variable_start_z: 4.097    # Z height of brush
variable_wipe_dist_y: 10   # Y wipe on brush + and minus
variable_wipe_dist_x: 1    # X wipe on brush
variable_wipe_qty: 5       # Number of Wipes
variable_wipe_spd: 100     # Wipe speed
variable_raise_distance: 5 # Raise after wipe

gcode:
 {% set travel_speed = (printer.toolhead.max_velocity) * 60 | float %}  # Get relevant printer params
 {% if "xyz" not in printer.toolhead.homed_axes %}   # Check if homed
  G28
 {% endif %}
 

  G90 # Absolute positioning
 ## Raise Z before move
 G1 Z{start_z + 5} F1500

 ## Move nozzle to start position
  G1 X{start_x} Y{start_y} F6000
  G1 Z{start_z} F1500

 ## Wipe nozzle
 {% for wipes in range(1, (wipe_qty + 1)) %}
   #WIPE LEFT
   G1 X{start_x + wipe_dist_x} Y{start_y - wipe_dist_y} F{wipe_spd * 300}
   G1 X{start_x + wipe_dist_x} Y{start_y + wipe_dist_y} F{wipe_spd * 300}
   G1 X{start_x + wipe_dist_x} Y{start_y - wipe_dist_y} F{wipe_spd * 300}
   G1 X{start_x + wipe_dist_x} Y{start_y + wipe_dist_y} F{wipe_spd * 300}
   G1 X{start_x + wipe_dist_x} Y{start_y - wipe_dist_y} F{wipe_spd * 300}
   #WIPE RIGHT
   G1 X{start_x - wipe_dist_x} Y{start_y + wipe_dist_y} F{wipe_spd * 300}
   G1 X{start_x - wipe_dist_x} Y{start_y - wipe_dist_y} F{wipe_spd * 300}
   G1 X{start_x - wipe_dist_x} Y{start_y + wipe_dist_y} F{wipe_spd * 300}
   G1 X{start_x - wipe_dist_x} Y{start_y - wipe_dist_y} F{wipe_spd * 300}
   G1 X{start_x - wipe_dist_x} Y{start_y + wipe_dist_y} F{wipe_spd * 300}
   
 {% endfor %}

  ## Raise nozzle
   G1 Z{start_z + raise_distance} F{travel_speed}
